.social-shareable-widget {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    background-color: #dedeae;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.social-shareable-widget .toggle-share {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-shareable-widget .share-layer {
    margin-top: 10px;
}
h1 {
    color: red;
}
